In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook as tqdm

In [2]:
df = pd.read_csv('neki.tsv', sep = '\t')

In [3]:
df = df[df['dayOffset'] == 0]
features = list(set(df['param'].values))

In [4]:
df

        param            timestamp  dayOffset  region         value
0         vis  2016-01-01 00:00:00          0       0  2.636827e+04
1          ws  2016-01-01 00:00:00          0       0  1.464689e+00
2          tp  2016-01-01 00:00:00          0       0  0.000000e+00
3        sund  2016-01-01 00:00:00          0       0  0.000000e+00
4         ssr  2016-01-01 00:00:00          0       0  0.000000e+00
5          2d  2016-01-01 00:00:00          0       0  2.658176e+02
6          2t  2016-01-01 00:00:00          0       0  2.691575e+02
7         10v  2016-01-01 00:00:00          0       0  1.106619e+00
8         10u  2016-01-01 00:00:00          0       0 -9.595356e-01
9         tcc  2016-01-01 00:00:00          0       0  9.299349e-01
10         sf  2016-01-01 00:00:00          0       0  0.000000e+00
11         sp  2016-01-01 00:00:00          0       0  1.011914e+05
12         sd  2016-01-01 00:00:00          0       0  0.000000e+00
13         rh  2016-01-01 00:00:00          0       0  7.757637e+01
14        vis  2016-01-01 00:00:00          0       1  2.636827e+04
15         ws  2016-01-01 00:00:00          0       1  1.464689e+00
16         tp  2016-01-01 00:00:00          0       1  0.000000e+00
17       sund  2016-01-01 00:00:00          0       1  0.000000e+00
18        ssr  2016-01-01 00:00:00          0       1  0.000000e+00
19         2d  2016-01-01 00:00:00          0       1  2.658176e+02
20         2t  2016-01-01 00:00:00          0       1  2.691575e+02
21        10v  2016-01-01 00:00:00          0       1  1.106619e+00
22        10u  2016-01-01 00:00:00          0       1 -9.595356e-01
23        tcc  2016-01-01 00:00:00          0       1  9.299349e-01
24         sf  2016-01-01 00:00:00          0       1  0.000000e+00
25         sp  2016-01-01 00:00:00          0       1  1.011914e+05
26         sd  2016-01-01 00:00:00          0       1  0.000000e+00
27         rh  2016-01-01 00:00:00          0       1  7.757637e+01
28        vis  2016-01-01 00:00:00          0       2  2.636827e+04
29         ws  2016-01-01 00:00:00          0       2  1.464689e+00
...       ...                  ...        ...     ...           ...
2929684   10v  2016-01-31 21:00:00          0     117  1.486690e+00
2929685    2d  2016-01-31 21:00:00          0     117  2.784531e+02
2929752    sd  2016-01-31 21:00:00          0     118  0.000000e+00
2929753   vis  2016-01-31 21:00:00          0     118  2.271323e+04
2929756    sp  2016-01-31 21:00:00          0     118  9.987025e+04
2929757   tcc  2016-01-31 21:00:00          0     118  8.732957e-01
2929759   10u  2016-01-31 21:00:00          0     118 -4.947720e-01
2929760    sf  2016-01-31 21:00:00          0     118  0.000000e+00
2929762    ws  2016-01-31 21:00:00          0     118  1.566858e+00
2929763    rh  2016-01-31 21:00:00          0     118  8.765538e+01
2929764   ssr  2016-01-31 21:00:00          0     118  2.990060e+06
2929765  sund  2016-01-31 21:00:00          0     118  0.000000e+00
2929766    tp  2016-01-31 21:00:00          0     118  5.836487e-04
2929767    2t  2016-01-31 21:00:00          0     118  2.803647e+02
2929768   10v  2016-01-31 21:00:00          0     118  1.486690e+00
2929769    2d  2016-01-31 21:00:00          0     118  2.784531e+02
2929836    sd  2016-01-31 21:00:00          0     119  0.000000e+00
2929837   vis  2016-01-31 21:00:00          0     119  2.271323e+04
2929840    sp  2016-01-31 21:00:00          0     119  9.987025e+04
2929841   tcc  2016-01-31 21:00:00          0     119  8.732957e-01
2929843   10u  2016-01-31 21:00:00          0     119 -4.947720e-01
2929844    sf  2016-01-31 21:00:00          0     119  0.000000e+00
2929846    ws  2016-01-31 21:00:00          0     119  1.566858e+00
2929847    rh  2016-01-31 21:00:00          0     119  8.765538e+01
2929848   ssr  2016-01-31 21:00:00          0     119  2.990060e+06
2929849  sund  2016-01-31 21:00:00          0     119  0.000000e+00
2929850    tp  2016-01-31 21:00:00          0     119  5.836487e-04
2929851    2t  2016-01-31 21:00:00          0     119  2.803647e+02
2929852   10v  2016-01-31 21:00:00          0     119  1.486690e+00
2929853    2d  2016-01-31 21:00:00          0     119  2.784531e+02

[416640 rows x 5 columns]

In [5]:
columns = ['timestamp',
 'region',
 'dayOffset',
 '10u',
 '10v',
 '2d',
 '2t',
 'rh',
 'sd',
 'sf',
 'sp',
 'ssr',
 'sund',
 'tcc',
 'tp',
 'vis',
 'ws']

In [6]:
df_new = df.reindex( columns = columns).drop_duplicates().reset_index().drop('index', 1)

In [29]:
%%time
# 1 min for 10000 expected time for one month (416640) 40min.

pbar = tqdm(total=13500)
df = df.reset_index(drop = True)
for i in range(13500):
#for i in range(len(df)):
    index = df_new[(df_new['timestamp'] == df['timestamp'][i]) & (df_new['region'] == df['region'][i])].index
    df_new.loc[index, df['param'][i]] = df['value'][i]
    pbar.update(1)

HBox(children=(IntProgress(value=0, max=13500), HTML(value='')))

Wall time: 1min 26s

In [23]:
i/120

112.0

In [27]:
df = df.reset_index(drop = True)

In [9]:
df_new.to_csv('nekineki.tsv', sep='\t', index=False)

In [20]:
len(df)

416640

In [21]:
df

        param            timestamp  dayOffset  region         value
0         vis  2016-01-01 00:00:00          0       0  2.636827e+04
1          ws  2016-01-01 00:00:00          0       0  1.464689e+00
2          tp  2016-01-01 00:00:00          0       0  0.000000e+00
3        sund  2016-01-01 00:00:00          0       0  0.000000e+00
4         ssr  2016-01-01 00:00:00          0       0  0.000000e+00
5          2d  2016-01-01 00:00:00          0       0  2.658176e+02
6          2t  2016-01-01 00:00:00          0       0  2.691575e+02
7         10v  2016-01-01 00:00:00          0       0  1.106619e+00
8         10u  2016-01-01 00:00:00          0       0 -9.595356e-01
9         tcc  2016-01-01 00:00:00          0       0  9.299349e-01
10         sf  2016-01-01 00:00:00          0       0  0.000000e+00
11         sp  2016-01-01 00:00:00          0       0  1.011914e+05
12         sd  2016-01-01 00:00:00          0       0  0.000000e+00
13         rh  2016-01-01 00:00:00          0       0  7.757637e+01
14        vis  2016-01-01 00:00:00          0       1  2.636827e+04
15         ws  2016-01-01 00:00:00          0       1  1.464689e+00
16         tp  2016-01-01 00:00:00          0       1  0.000000e+00
17       sund  2016-01-01 00:00:00          0       1  0.000000e+00
18        ssr  2016-01-01 00:00:00          0       1  0.000000e+00
19         2d  2016-01-01 00:00:00          0       1  2.658176e+02
20         2t  2016-01-01 00:00:00          0       1  2.691575e+02
21        10v  2016-01-01 00:00:00          0       1  1.106619e+00
22        10u  2016-01-01 00:00:00          0       1 -9.595356e-01
23        tcc  2016-01-01 00:00:00          0       1  9.299349e-01
24         sf  2016-01-01 00:00:00          0       1  0.000000e+00
25         sp  2016-01-01 00:00:00          0       1  1.011914e+05
26         sd  2016-01-01 00:00:00          0       1  0.000000e+00
27         rh  2016-01-01 00:00:00          0       1  7.757637e+01
28        vis  2016-01-01 00:00:00          0       2  2.636827e+04
29         ws  2016-01-01 00:00:00          0       2  1.464689e+00
...       ...                  ...        ...     ...           ...
2929684   10v  2016-01-31 21:00:00          0     117  1.486690e+00
2929685    2d  2016-01-31 21:00:00          0     117  2.784531e+02
2929752    sd  2016-01-31 21:00:00          0     118  0.000000e+00
2929753   vis  2016-01-31 21:00:00          0     118  2.271323e+04
2929756    sp  2016-01-31 21:00:00          0     118  9.987025e+04
2929757   tcc  2016-01-31 21:00:00          0     118  8.732957e-01
2929759   10u  2016-01-31 21:00:00          0     118 -4.947720e-01
2929760    sf  2016-01-31 21:00:00          0     118  0.000000e+00
2929762    ws  2016-01-31 21:00:00          0     118  1.566858e+00
2929763    rh  2016-01-31 21:00:00          0     118  8.765538e+01
2929764   ssr  2016-01-31 21:00:00          0     118  2.990060e+06
2929765  sund  2016-01-31 21:00:00          0     118  0.000000e+00
2929766    tp  2016-01-31 21:00:00          0     118  5.836487e-04
2929767    2t  2016-01-31 21:00:00          0     118  2.803647e+02
2929768   10v  2016-01-31 21:00:00          0     118  1.486690e+00
2929769    2d  2016-01-31 21:00:00          0     118  2.784531e+02
2929836    sd  2016-01-31 21:00:00          0     119  0.000000e+00
2929837   vis  2016-01-31 21:00:00          0     119  2.271323e+04
2929840    sp  2016-01-31 21:00:00          0     119  9.987025e+04
2929841   tcc  2016-01-31 21:00:00          0     119  8.732957e-01
2929843   10u  2016-01-31 21:00:00          0     119 -4.947720e-01
2929844    sf  2016-01-31 21:00:00          0     119  0.000000e+00
2929846    ws  2016-01-31 21:00:00          0     119  1.566858e+00
2929847    rh  2016-01-31 21:00:00          0     119  8.765538e+01
2929848   ssr  2016-01-31 21:00:00          0     119  2.990060e+06
2929849  sund  2016-01-31 21:00:00          0     119  0.000000e+00
2929850    tp  2016-01-31 21:00:00          0     119  5.836487e-04
2929851    2t  2016-01-31 21:00:00          0     119  2.803647e+02
2929852   10v  2016-01-31 21:00:00          0     119  1.486690e+00
2929853    2d  2016-01-31 21:00:00          0     119  2.784531e+02

[416640 rows x 5 columns]

In [16]:
import pandas as pd
import json
from tqdm import tqdm_notebook as tqdm

start = (3, 2016)
end = (12, 2017)

list_of_months = []
br = False
for i in range(2010, 2100, 1):
    for j in range(1, 13, 1):
        if start[1] > i or (start[1] == i and start[0] > j):
            continue
        if end[1] < i or (end[1] == i and end[0] < j):
            br = True
            break
        list_of_months.append((j, i))
    if br:
        break

with open('coordinate.json') as json_file:  
    dic_list = json.load(json_file)
pbar = tqdm(total=len(list_of_months))
for ind, i in enumerate(list_of_months):
    df = pd.read_csv('.\\tsv_help\\weather-slovenia_exported_m' + str(i[0]) + '_y' + str(i[1]) + '.tsv', sep = '\t')
    df = df[df['dayOffset'] == 0]
    features = list(set(df['param'].values))
    columns = ['timestamp', 'region', 'dayOffset', '10u',
               '10v', '2d', '2t', 'rh', 'sd', 'sf', 'sp',
               'ssr', 'sund', 'tcc', 'tp', 'vis', 'ws']
    data_list = ['10u','10v', '2d', '2t', 'rh', 'sd', 'sf', 'sp',
                 'ssr', 'sund', 'tcc', 'tp', 'vis', 'ws']

    df_new = df.reindex( columns = columns).drop_duplicates().reset_index().drop('index', 1).set_index(['timestamp', 'region'])
    df = df.reset_index(drop = True)
    df = df.set_index(['timestamp', 'param', 'region'])
    for j in data_list:
        df_new[j] = df.xs(j, level = 1)['value']
    df_new = df_new.reset_index()
    df_new.to_csv('.\\tsv_files\\weather-slovenia_m' + str(i[0]) + '_y' + str(i[1]) + '.tsv', sep='\t', index=False)
    pbar.update(1)

HBox(children=(IntProgress(value=0, max=22), HTML(value='')))